.carouselSection {
    position: relative;
    margin-bottom: 70px;
    & > .contentWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .carouselTitle {
        font-size: 24px;
        color: white;
        font-weight: normal;
    }
}

.me{
    margin: 10px;
    font-size: 2.5vh;
    :hover{
        color: rgb(235, 87, 112);
        text-shadow: 20px;
    } 
   
}
.me2{
    color: indianred;
}
.me1{
    text-decoration-line: none;
}
